@{
    ViewBag.Title = "AlteracaoSenhaConfirmada";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Alteração de senha confirmada!</h2>

<h4>Para acessar o ByteBank Fórum clique no menu <b>Login</b> e realize o acesso.</h4>
