@{
    ViewBag.Title = "EmailAlteracaoSenhaEnviado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Email enviado com sucesso!</h2>

<h4>Verifique sua caixa de entraga para as instruções de alteração de senha.</h4>
